:root {
    --corfundo: #FCD76F;
    --corprincipal: #ffffff; 
}

.banner {
    width: 100%;
    height: 100px;
    background-color: var(--corfundo);

}   

.conteudo {
    width: 100%;
    height: 450px;
    background-color: var(--corprincipal);
}
.rodape {
    width: 100%;
    height: 50px;
    background-color: var(--corfundo);
}

.imagem1 {
    
}